In [1]:
print()

In [2]:
print("Good Morning! Python")

Good Morning! Python

In [3]:
print('Hello!')

Hello!

In [5]:
print("This is a Path = F:\\NPMN\Python\\Core Python Programming")

This is a Path = F:\NPMN\Python\Core Python Programming

In [7]:
print(5 * "You are Awesome! ")

You are Awesome! You are Awesome! You are Awesome! You are Awesome! You are Awesome!

In [8]:
you = "You are Amazing! "

print(3 * you)

You are Amazing! You are Amazing! You are Amazing!

In [9]:
print("Country="+"India")

Country=India

In [10]:
print("State =", "Karnataka")

State = Karnataka

In [12]:
city = "Bengaluru"

print("City =", city)

City = Bengaluru

In [13]:
path = "C:\Python\Practice"
url = "https://python.org/doc/"

print("Python Path Name:", path)
print("Python URL:", url)

Python Path Name: C:\Python\Practice
Python URL: https://python.org/doc/

In [21]:
a, b = 10, 20

print(a)
print(b)

print(a, b)
print(a, b, sep=', ') # Seperators == sep
print(a, b, sep=' : ')
print(a, b, sep=' || ')

10
20
10 20
10, 20
10 : 20
10 || 20

In [24]:
print("This will not print in", end=" ")
print("next line", end = ' ')
print("prints in same line", end = '\t')
print("here is a tab out")

This will not print in next line prints in same line	here is a tab out

In [30]:
#List
lst1 = ['10', '1.2', "this is string", 'c']

#Dictionary
dict1 = {'Book1': "Python", 'Book2': 'Machine Learning','Book3':'Data Science'}

print("Print List:", lst1)
print("Print Dictionary", dict1)

Print List: ['10', '1.2', 'this is string', 'c']
Print Dictionary {'Book1': 'Python', 'Book2': 'Machine Learning', 'Book3': 'Data Science'}

In [42]:
# Formatted Strings

a = 5
b = 2.5
c = 'a'
d = "Hello World!"

print("This is an Integer %d" %a)
print("This is an Float %f and Integer %i" %(b, a))
print("This is a Character %10s" %c)
print("This is a String %s" %d)

This is an Integer 5
This is an Float 2.500000 and Integer 5
This is a Character          a
This is a String Hello World!

In [49]:
n1, n2, n3 = 10, 20, 30

print("Number1 = {0}, Number2 = {1}, Number3 = {2}" .format(n1, n2, n3))
print("Number1 = {val1}, Number2 = {val2}, Number3 = {val3}" .format(val1=n1, val2=n2, val3=n3))
print("Number1 = {}, Number2 = {}, Number3 = {}" .format(n1, n2, n3))

Number1 = 10, Number2 = 20, Number3 = 30
Number1 = 10, Number2 = 20, Number3 = 30
Number1 = 10, Number2 = 20, Number3 = 30

In [54]:
name = "Rahul"
sal = 120000

print("Hello {}!! your Salary = {}" .format(name, sal))

print("Hello {n}!! your Salary = {s}" .format(n=name, s=sal))

print("Hello %s!! your Salary = %d" %(name, sal))

Hello Rahul!! your Salary = 120000
Hello Rahul!! your Salary = 120000
Hello Rahul!! your Salary = 120000